.learning-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

/* LEFT SIDE */
.left-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

/* Purple Udemy Buttons */
.purple-btn {
  border: 1px solid #a435f0;
  color: #a435f0;
  background: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 600;
}

.purple-btn:hover {
  background: #f5e8ff;
}

/* Reset */
.reset-text {
  margin-left: 10px;
  cursor: pointer;
  color: gray;
  font-weight: 600;
}

.reset-text:hover {
  color: #a435f0;
}

/* Search */
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  width: 260px;
  border-radius: 8px;
}

.search-btn {
  background: #a435f0;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background: #7b19c9;
}

.course-card {
  cursor: pointer;
  transition: .3s;
}

.course-card:hover {
  transform: translateY(-4px);
}