.learning-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

/* LEFT SIDE */
.left-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

/* Purple Udemy Buttons */
.purple-btn {
  border: 1px solid #a435f0;
  color: #a435f0;
  background: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 600;
}

.purple-btn:hover {
  background: #f5e8ff;
}

/* Reset */
.reset-text {
  margin-left: 10px;
  cursor: pointer;
  color: gray;
  font-weight: 600;
}

.reset-text:hover {
  color: #a435f0;
}

/* Search */
.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  width: 260px;
  border-radius: 8px;
}

.search-btn {
  background: #a435f0;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background: #7b19c9;
}

.course-card {
  cursor: pointer;
  transition: .3s;
}

.course-card:hover {
  transform: translateY(-4px);
}

/* ACTIVE BUTTON */
.custom-pagination .page-item.active .page-link {
  background: #1e6cff;
  border-color: #1e6cff;
  color: #fff;
}

/* underline OUTSIDE button */
.custom-pagination .page-item {
  position: relative;
}

.pretty-pagination {
  gap: 8px;
}

/* Default buttons */
.pretty-pagination .page-item .page-link {
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  background: white;
  padding: 8px 16px;
  color: #0a2540;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: all .2s ease;
}

/* Hover */
.pretty-pagination .page-item .page-link:hover {
  background: #f5f7ff;
  border-color: #bfc9ff;
}

/* ACTIVE */
.pretty-pagination .page-item.active .page-link {
  background: #4bb3ff;
  color: white;
  border-color: transparent;
}

/* Disabled arrows */
.pretty-pagination .page-item.disabled .page-link {
  opacity: 0.5;
  background: #fafafa;
}

/* Remove Bootstrap focus blue ring */
.pretty-pagination .page-link:focus {
  box-shadow: none;
}

/* VERY IMPORTANT: Remove underline completely */
.pretty-pagination .page-item::after {
  content: none !important;
}