.udemy-footer {
    background: #0f172a;
    color: white;
    margin-top: 40px;
    width: 100%;
}

.footer-top {
    padding: 50px 80px;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 25px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 60px;
}

/* Bottom grid */
.footer-bottom-grid {
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #2a3554;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* Column */
.footer-col h5,
.footer-bottom-grid h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer-col a,
.footer-bottom-grid a {
    display: block;
    color: #cbd5f5;
    font-size: 14px;
    margin-bottom: 6px;
    cursor: pointer;
}

.footer-col a:hover,
.footer-bottom-grid a:hover {
    text-decoration: underline;
    color: white;
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #2a3554;

    display: flex;
    align-items: center;
    gap: 25px;
}

/* Make links horizontal */
.footer-bottom-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Style links */
.footer-bottom-links a {
    color: #cbd5f5;
    font-size: 14px;
    cursor: pointer;
}

.footer-bottom-links a:hover {
    color: #fff;
    text-decoration: underline;
}

/* End Bar */
.footer-end {
    text-align: center;
    padding: 12px;
    background: #020617;
    border-top: 1px solid #2a3554;
}

/* Responsive */
@media(max-width:1100px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-bottom-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px) {

    .footer-grid,
    .footer-bottom-grid {
        grid-template-columns: 1fr;
    }

    .footer-top {
        padding: 40px 20px;
    }
}