* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7ff;
}

.card {
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-fixed {
  margin-top: auto;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-fixed {
  margin-top: auto;
}



/* Login full viewport */
.login-wrapper {
  height: 100dvh;
  /* accurate viewport height */
}